.main-body {
	background-color: #3ACD9E
}
hr{
    color: black;
}
input{
    width: 10%;
    height: 35px;
}
.dropmenu{
    height: 30px;
    width: 20%;
}
hr.style1{
    border-top: 1px solid #8c8b8b;
}
h1{
    text-align: center;
}
.form-horizontal{
    padding-left: 20%;
}
label{
    
}